!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UPtables
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => root_path} University Potsdam Timetabling
          %ul.nav.navbar-nav
            %li= link_to "Curricula", curricula_path
            %li= link_to "Modules", ects_modules_path
            %li= link_to "Courses", courses_path
            %li.divider-vertical
            %li= link_to "Teachers", teachers_path
            %li= link_to "Rooms", rooms_path
            %li.divider-vertical
            %li= link_to "Timetables", timetables_path
            
    .container= yield
