= form_for @ects_module do |f|
  
  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :courses
    %br
    = f.collection_select :course_ids, Course.all_ordered, :id, :name, {:selected => @ects_module.courses.collect{|c|c.id}}, {:multiple => true, :class => 'multiselect'}

  - if @ects_module.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ects_module.errors.count, "error")} prohibited this ects_module from being saved:"
      %ul
        - @ects_module.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
