= form_for @room do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :capacity
    %br
    = f.text_field :capacity
  %p

  %table.table
    %tbody
      %tr
        %th
        - @weekdays.each do |weekday|
          %th= weekday.name
      - @timeframes.each do |timeframe|
        %tr
          %td=timeframe.interval
          - @weekdays.each do |weekday|
            %td= check_box_tag "unavailability[#{weekday.id}][#{timeframe.id}]", "checked", @room.unavailabilities.any?{|u| (u.weekday.id == weekday.id) && (u.timeframe.id == timeframe.id)}

  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
