%p#notice= notice

%p
  %strong Name
  %br
  = @room.name
%p
  %strong Capacity
  %br
  = @room.capacity

%table.table
  %caption Unavailabilities
  %thead
    %tr
      %th
      - @weekdays.each do |weekday|
        %th= weekday.name
  %tbody
    - @timeframes.each do |timeframe|
      %tr
        %td=timeframe.interval
        - @weekdays.each do |weekday|
          %td="unavailable" if @room.unavailabilities.find {|u| (u.weekday == weekday) && (u.timeframe == timeframe)}

= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path
