= form_for @course do |f|
  %p.field
    = f.label :name
    %br
    = f.text_field :name, :size => 50
  %p.field
    = f.label :teacher
    %br
    = f.select :teacher_id, Teacher.all.collect {|t| [t.full_name, t.id]}
  %p.field
    = f.label :participants
    %br
    = f.number_field :participants
  
  %h3 Course Components
  = f.fields_for :course_components do | course_component |
    = render "course_component_fields", :f => course_component
  .links
    = link_to_add_association "Add course component", f, :course_components
  
  - if @course.curricula.present?
    %h3 Enrollment recommendations per curriculum
    = f.fields_for :recommendations do | recommendation |
      = render "recommendation_fields", :f => recommendation
    .links
      = link_to_add_association "Add recommendation", f, :recommendations


  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
