= form_for @course do |f|
  %p.field
    = f.label :name
    %br
    = f.text_field :name, :size => 50
  %p.field
    = f.label :teacher, 'Leading teacher'
    %br
    = f.select :teacher_id, Teacher.all.collect {|t| [t.full_name, t.id]}
    
  %h3 Components
  = f.fields_for :components do | component |
    = render "component_fields", :f => component
  .links
    = link_to_add_association "Add component", f, :components
  
  - if @course.curricula.present?
    %h3 Enrollment recommendations per curriculum
    = f.fields_for :recommendations do | recommendation |
      = render "recommendation_fields", :f => recommendation
    .links
      = link_to_add_association "Add recommendation", f, :recommendations


  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
