.nested-fields
  %p.field
    = f.label :curriculum
    %br
    = f.collection_select :curriculum_id, @course.curricula, :id, :name, {}, {:class => "select_box_for_curricula"}
  %p.field
    = f.label :semester
    %br
    = f.number_field :semester, :min => 1, :class => "semester"
  = link_to_remove_association "Remove recommendation", f
