%p#notice= notice

%p
  %strong Name
  %br
  = @course.name
%p
  %strong Leading teacher
  %br
  = @course.teacher.full_name

%br
.container
  %table.table
    %caption Course Components
    %thead
      %tr
        %th Type
        %th Dates
        %th Teacher
        %th Participants
        %th Double lecture
    %tbody
      - @course.components.each do |cc|
        %tr
          %td= cc.type
          %td= cc.dates
          %td= cc.teacher.full_name
          %td= cc.participants
          %td
            -if cc.double_lecture
              %strong Yes
          
%br
.container
  %table.table
    %caption Curricula
    %thead
      %tr
        %th Ects Module
        %th Curricula
    %tbody
      - @course.ects_modules.each do |m|
        - m.curricula.each do |c|
          %tr
            %td= m.name
            %td= c.name

%br
.container
  %table.table
    %thead
    %caption Enrollment recommendations per curriculum
    %thead
      %tr
        %th Curriculum
        %th Semester
      - @course.recommendations.each do |r|
        %tr
          %td= r.curriculum.name
          %td= r.semester


= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
