%h1 Listing curricula

%table
  %thead
    %tr
      %th
      %th
      %th
      %th
      
  %tbody
    - @curricula.each do |curriculum|
      %tr
        %td= curriculum.name
        %td= link_to 'Show', curriculum
        %td= link_to 'Edit', edit_curriculum_path(curriculum)
        %td= link_to 'Destroy', curriculum, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Curriculum', new_curriculum_path
