%h1 Timetables
%p
  = form_tag do
    %p
      = label_tag :time_out
      = number_field_tag :time_out, 5
      = submit_tag "Solve!"

- unless @optimum_found
  %p.alert.alert-danger{:role => :alert} Timed out before optimal solution could be found

%table.table
  %tbody
    %tr
      %th ID
      %th Costs
    - @timetables.each do |timetable|
      %tr.timetable
        %td= link_to timetable.id, show_timetable_path(timetable)
        %td= timetable.costs
