%h1 Timetables
%p= button_to "Solve!", timetables_path
%table
  %tbody
    %tr
      %th ID
      %th Costs
    - @timetables.each do |timetable|
      %tr
        %td= link_to timetable.id, show_timetable_path(timetable)
        %td= timetable.costs
%h1 Rooms
%p= link_to "Index", rooms_path

%h1 Courses
%p= link_to "Index", courses_path

%h1 Teachers
%p= link_to "Index", teachers_path
