%h1= "Timetable #{@timetable.id}"
%h2= "Costs: #{@timetable.costs}"
%table
  %tbody
    %thead
      %tr
        %th
        %th
        - @rooms.each do |room|
          %th= room.name
      %tr
        %th
        %th
        - @rooms.each do |room|
          %th= "#{room.capacity} Seats"
    - @weekdays.each do |weekday|
      - @timeframes.each_with_index do |timeframe, i|
        %tr
          %td= weekday.name if (i == 0)
          %td= timeframe.interval
          - @rooms.each do |room|
            - entry = @timetable.entries.find {|e| (e.timeframe == timeframe) && (e.weekday == weekday) && (e.room == room)}
            - bgcolor = "#AAAAAA"  if room.unavailabilities.find {|u| (u.weekday == weekday) && (u.timeframe == timeframe)}
            %td{:bgcolor => bgcolor}= entry.course if entry
