%h1= "Timetable #{@timetable.id}"
%h2= "Costs: #{@timetable.costs}"
%table
  %tbody
    %tr
      %td
      %td
      - @rooms.each do |room|
        %td= room.name
    - @weekdays.each do |weekday|
      - @timeframes.each_with_index do |timeframe, i|
        %tr
          %td= weekday.name if (i == 0)
          %td= timeframe.interval
          - @rooms.each do |room|
            - entry = @timetable.timetable_entries.find {|e| (e.timeframe == timeframe) && (e.weekday == weekday) && (e.room == room)}
            %td= entry.course if entry
