%h1 Teachers

%table
  %thead
    %tr
      %th Name
      %th Surname
      %th

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.surname
        %td= teacher.name
        %td= link_to 'Unavailabilities', teacher_unavailabilities_path(teacher)
  %br

= link_to 'Back', root_path
= link_to 'Add New Teacher', new_teacher_path
