%h1 Teachers

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Surname
      %th

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.surname
        %td= teacher.first_name
        %td= link_to 'Edit', edit_teacher_path(teacher)
        %td= link_to 'Delete', teacher, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'Add New Teacher', new_teacher_path
